body{
    margin-top: 120px;
    margin-left: -350px;
    background-image: url("Assets/images/fireworks-design-background_1934169.jpeg");    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
p {
  color:  white;
  font-size: 70px;
  margin-top: 15px;
  display: inline;
  font-family: "Caveat";
  margin-left: 30px;
}
.cnt{
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    margin-left: 10px;
    justify-content:space-evenly;
    justify-content: center;
    
}
h1{
    text-align: center;
   color:  #A49F02;
   margin-top: -50px;
   font-size: 90px;
   margin-left: 55px;
   font-family: "Kaushan Script";
}
h2{
    color:  silver;
font-size: 40px;
margin-left: 20px;
font-family: "Caveat";
padding-left: 10px;
margin-top: -30px;
word-spacing: normal;
}
a {
    text-decoration: none;
    color:#A49F02;
    transition: font-size 0.5s, transform 2s;

}
.links{
    margin-left: 450px;
    margin-top: -50px;
text-align: left;
}
a:hover{
    color: #FFD700;
    font-size: 20px;
    border-bottom: 2px solid #FFD700;
}